<h1>ResultReport</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Examinator</th>                <td>{{ entity.examinator }}</td>        </tr>
        <tr><th>Course</th><td>{{ entity.course }}</td></tr>
    </tbody>
</table>
<table>
<thead>Results</thead>
<tr><th>Name</th><th>Result</th></tr>
{% for result in entity.results %}
<tr><td>{{ result.student }}</td><td>{{ result.score }}</td></tr>
{% endfor %}
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('resultreport') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('resultreport_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('resultreport_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
