{% extends "StcwDeskBundle::layout.html.twig" %}
{% block content %}
<h2>{{ entity.title }}</h2>
<hr />


<table class="record_properties">
    <tbody>
    <th>Modules to follow :</th>
            <td>
                <ul>
            {% for module in entity.modules %}
               
                <li>
                    {{ module.title }}
                </li>
               {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}