{% extends "StcwDeskBundle::layout.html.twig" %}
{% block content %}
<h2>Module creation</h2>

<form action="{{ path('modules_create') }}" method="post" {{ form_enctype(form) }}>
<table class="record_properties">
<tr><th>{{form_label(form.title)}}</th><td>{{form_widget(form.title)}}</td></tr>
<tr><th>{{form_label(form.credit)}}</th><td>{{form_widget(form.credit)}}</td></tr>
<tr><th>{{form_label(form.si)}}</th><td>{{form_widget(form.si)}}</td></tr>
<tr><th>{{form_label(form.level)}}</th><td>{{form_widget(form.level)}}</td></tr>
<tr><th>Courses</th>
<ul>
<td>{% for course in form.courses %}
<li>{{ form_widget(course) }} {{form_label(course)}}</li>
{% endfor %}
</ul></td></tr>


</table>
{{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('modules') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}